body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #320a18;
    margin: 0;
    padding: 0;
    margin: 20px 0;
    background-color: #fff0f5;
    line-height: 1.6;
}

H1 {
    background-color: #852431;
    color: #fff0f5;
    text-align: center;
    padding: 20px 0;
}
img {
    display: block;
    margin-top: 40px;
    margin-left: 300px;
    width: 300px;
    border: 5px solid #852431;
    border-radius: 5px

}

#text {
    position: relative;
    top: -400px;
    left: 700px;
    width: 38%
}
ul {

    margin: 0;
    padding: 0;
    padding: 0 10px;
    margin: 15px 40px;
}




